{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "minify": true,
                "transpileTemplateLiterals": true,
                "displayName": true,
                "pure": true,
                "fileName": false,
                "ssr": false
            }
        ]
    ],
    "presets": [
        "@babel/env"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "node": "current",
                        }
                    }
                ],
                "@babel/react"
            ],
            "plugins": [
                "babel-plugin-rewire"
            ]
        }
    }
}